@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  bottom: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #fdfdfd;
  color: #333;
}

header {
  padding: 2rem 7%;
}

section {
  min-height: 100vh;
  padding: 10rem 7% 2rem;
}

.home::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 50.8%;
  background: #754ef9;
}

/* header hover */

.navigation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: var(--after-color);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.circle-transform {
  transform: rotate(calc(360deg / 4 * var(--i)));
}

.router-link-active:not(:first-child) {
  color: #754ef9;
  border-bottom: 3px solid #333;
}

.router-link-active {
  border-bottom: 3px solid #fff;
}
